<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.imageuploadlib">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppCompatNoActionBarTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"></activity>

        <activity
            android:name=".Activity.CameraActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_item"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

        <activity
            android:name=".Activity.GalleryActivity"
            android:label="@string/title_activity_gallery"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Activity.FolderFiles"
            android:label="@string/title_activity_gallery"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Activity.ReviewImageActivity"
            android:label="@string/title_activity_gallery"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Activity.GalleryContentProviderActivity"
            android:label="@string/title_activity_gallery"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activity.CameraPriorityActivity"
            android:label="@string/title_activity_camera_priority"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activity.NeutralActivity"
            android:label="@string/title_activity_neutral"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.BaseActivityGallery"
            android:label="@string/title_activity_base"></activity>

    </application>

</manifest>
